{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if stock %}

{# Display card for the stock details #}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ stock.name }} ({{ stock.symbol }})
      </div>
      <div class="card-body">
        <img src="{{ stock.logo_url }}" class="mr-3 stock" alt="alt text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Sector: </b> {{ stock.sector }}</li>
          <li class="list-group-item"><b>Industry: </b> {{ stock.industry }}</li>
          <li class="list-group-item"><b>Market Cap: </b> {{ stock.market_cap }}</li>

          <li class="list-group-item"><b>Open Price:</b> {{ stock.open }}</li>
          <li class="list-group-item"><b>Regular Market High</b> {{ stock.regular_market_day_high }}</li>
          <li class="list-group-item"><b>Regular Market Low</b> {{ stock.regular_market_day_low }}</li>
          <li class="list-group-item"><b>Summary</b> {{ stock.long_business_summary }}</li>

        </ul>
      </div>
    </div>
  </div>
</div>

{# Reviews #}
<div class="row">
  <div class="col-md-12">
    <h1> Reviews <small class="float-right">{{ reviews|length }} reviews</small></h1>
    <ul class="media-list">
      {% for review in reviews %}
      <li class="media review-item">
        <div class="media-body">
          <span class="float-right">
            <small>{{ review.date }}</small>
          </span>
          <a href="{{ url_for('stocks.user_detail', username=review.commenter.username) }}">
            <strong>@{{ review.commenter.username }}</strong>
          </a>
          <p>
            {{ review.content }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if current_user.is_authenticated %}
{# stock review submission form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.text.label }}
        {{ form.text(class="form-control") }}

        {% if form.text.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      {{ form.submit() }}
    </form>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}